body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	height:100%;
}

#main {
 	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#background-canvas {
	position:fixed;
	top:100px;
	margin-left:25%;
}

#music-load-area {
	position:relative;
	margin-left:42.5%;
	margin-right:42.5%;
	margin-top:450px;
	width:500px;
	height:220px;
	padding: 10px;
	background-color: #FFFFFF;
}

.header {
	font-family: "News Gothic MT", "Helvetica Neue", Arial, sans-serif;
	font-size: 90px;
	font-weight: 500;
	color: #62F0DF; 
	position: fixed;
	top: 200px;
	padding-bottom: 100px;
	margin-left: 25%;
	min-width: 100%;
}

.sub-header {
	font-family: "News Gothic MT", "Helvetica Neue" Arial, sans-serif;
	font-size: 30px;
	color: #FFC9FE;
	font-weight: bold;
}

#overlay {
	background-color: #FFFFFF;
    opacity: 0.7;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    display: none;
}

#info-panel {
	font-weight: normal;
	font-size: 16px;
	padding: 12px 12px 12px 12px;
    background-color: #CBF9F3;
	color: #6B6B6B;
	border-radius: 10px;
	position: fixed;
	width: 296px;
	height: 290px;	
	min-width: 296px;
    min-height: 290px;	
	top: 50px;
    right: 1%;
	margin-right: 70px;
    display: none;
}

#info-panel.text {
    opacity: 1;
}

#canvas {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#menu-container {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 150px;
    display: none;
}

#menu {
    position: inherit;
	width: 100%;
	background-color: rgba(230, 230, 230, 0.5);	
}

#preload-button {
	width: 60px;
	height: 60px;
	margin-right: 35px;
}

#upload-button {
 	width: 60px;
	height: 60px;
	margin-left: 35px;
	margin-top: 0px;
}

.buttons {
	display: inline;
	width: 220px;
	padding-left: 0px;
	padding-right: 0px;
}

.menu-button {
	margin-top: 50px;
	margin-left: 10px;
	width: 45px;
	height: 45px;
}

#wheel-canvas {
	margin-top: 25px;
	margin-left: 0px;
    z-index: 100;
}

.slider {
	margin-top: 40px;
	position: relative;
	width: 150px;
}

#wave-distoriton {
	padding-top: 100px;
}

.header-button {
	position: fixed;
	top: 20px;
	width: 40px;
	height: 40px;
}

#info-button {
    right: 3%;
}

#home-button {
	left: 3%;
    display: none;
}

.bold-text {
    font-weight: bold;
}

.hidden {
    display: none;
}

